{% extends 'base.html.twig' %}

{% block title %}Demandes{% endblock %}


{% block content %}
        <a class="btn btn-info btn-lg float-right" href="{{ path('creer_demande') }}">
            Créer une nouvelle demande
        </a>
    <h1>Demandes</h1>
        {% if demandes|length > 0 %}
            <div class="table-responsive-lg">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Demande</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Status</th>
                    <th scope="col">Pièce jointe</th>
                </tr>
                </thead>
                <tbody>
                {% for demande in demandes %}
                    <tr>

                        <td>{{ demande.titre }}</td>
                        <td>{{ demande.contenu}} </td>
                        <td>{{ demande.dateCreation|date('Y-m-d') }} à  {{ demande.dateCreation|date('H:m:s') }}</td>
                        <td>{{ demande.status.id }} </td>
                        <td>
                            <a class='north' href="{{ asset("public/uploads/fichier123.pdf") }}" target="_blank" title="Télecharger la pièce jointe">
                                <img class="piece-jointe center" src="{{ asset('assets/img/piece_jointe.png') }}" alt="Download file" />
                            </a>
                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            {% else %}
            <div class="text-center"><hr><h2>Aucune demande à afficher</h2></div>
        {% endif %}

{% endblock %}