{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h2>Inscription</h2>
    </div>
<div class="form-group">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
            </div>
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}
